<!DOCTYPE html>
{% extends 'staff/index.html' %}

{% load static %}

{% block assignment %}
<div class="container flex">

    <!-- Trigger button to open the modal -->
    <button type="button" class="btn mt-3 btn-outline-secondary" data-bs-toggle="modal"
        data-bs-target="#addAssignmentModal">
        <span aria-hidden="true">+ Add Assignment</span>
    </button>

    <!-- Bootstrap modal -->
    <div class="modal fade" id="addAssignmentModal" tabindex="-1" aria-labelledby="addAssignmentModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary text-uppercase" id="addAssignmentModalLabel">Assign an
                        Assignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Assignment form -->
                    <form id="assignmentForm" method="POST">
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label font-weight-bold" for="id_title">Assignment
                                Title:</label>
                            <div class="col-sm-8">
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label font-weight-bold"
                                for="id_description">Description:</label>
                            <div class="col-sm-8">
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label font-weight-bold" for="id_deadline">Deadline:</label>
                            <div class="col-sm-8">
                                {{ form.deadline }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label font-weight-bold" for="id_worth">Worth:</label>
                            <div class="col-sm-8">
                                {{ form.worth }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label font-weight-bold"
                                for="id_research_links">References:</label>
                            <div class="col-sm-8">
                                {{ form.research_links }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label font-weight-bold" for="id_accepted_file_type">File
                                Type:</label>
                            <div class="col-sm-8">
                                {{ form.accepted_file_type }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label font-weight-bold"
                                for="id_assigned_class">Class:</label>
                            <div class="col-sm-8">
                                {{ form.assigned_class }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="assignmentForm" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container flex mt-5">
        <div class="row justify-content-start">
            <div class="col-md-12">
                <div class="row g-4">
                    {% if assignments %}
                        {% for assignment in assignments %}
                        <div class="col-md-4 mb-4">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase text-primary">{{ assignment.title }}</h5>
                                    <p class="card-text text-secondary text-xs fw-light">{{ assignment.assigned_class.course}}</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="card-text"><span class="small text-muted">Deadline:</span></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="card-text">
                                                <span class="h5 text-danger">
                                                    {{ assignment.deadline|date:"d-F" }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="card-text"><span class="small text-muted">Submissions:</span></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="card-text"><span class="h5 text-primary">5</span></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="card-text text-secondary"><span class="small text-muted">Created By:
                                                    {{ assignment.created_by }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a class="my-2 mx-3 btn btn-xs btn-danger"
                                        href="{% url 'students:delete_assignment' pk=assignment.pk %}">Delete</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="container mt-3 shadow">
                            <p class="text-sm text-center text-secondary">There are no assigned Assignments.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}