<!DOCTYPE html>

{% extends 'staff/index.html' %}

{% load static %}

{% block marks_page %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="row g-4">
            <h4 class="text-muted">Course ID: {{course.course_id}}</h4>
            <h2 class="text-primary">{{course.course_name}}</h2>
        </div>
        <form method="POST" action="{% url 'upload_marks' %}">
            {% csrf_token %}
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Registration No.</th>
                                <th>Student Name</th>
                                <th>Assignments Status</th>
                                <th>Marks</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>{{ student.registration_number }}</td>
                                <td>{{ student.first_name }} {{ student.last_name }}</td>
                                
                                <td>
                                    <input type="number" name="marks_{{ student.id }}" class="form-control" step="0.01">
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-primary">Save</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit All Marks</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}